<div class="div-main">
    <br>

    <div style="float: left; width: 30%;">
        <p>create search parameters over here</p>
    </div>

    <div>
        <table class="table table-striped">
    
            <thead>
                <tr>
                    <th class="header" scope="col">Trump's tweets
                        <tbody style="vertical-align: middle;">
                            <tr *ngFor="let tweet of tweets index as i">
                                <td scope="row">{{ i + 1 }}</td>
                                <div class="tweet-border">
                                    <td class="tweet-text"> Donald Trump tweeted:
                                        <p> {{ tweet.text }} </p>
                                        <p class="tweet-likes" style="float: left;">{{ tweet.likes | number}}</p>
                                        <p class="tweet-date" style="float: right;">{{ tweet.date | date}}</p>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </th>
                </tr>
            </thead>
    
    
        </table>
    </div>

</div>