<div class="div-main">
    <br>

    <div style="float: left; width: 30%;">
        <h3>Search for text. NOTE: It is case sensitive.</h3>
        <input type="text" [(ngModel)]="input">
        <br>
        <br>
        <br>
        <h3>Input a number to see which tweets has likes above the input.</h3>
        <input type="text" [(ngModel)]="inputNumber">
    </div>

    <div>
        <table class="table table-striped">
    
            <thead>
                <tr>
                    <th class="header" scope="col">Trump's tweets
                        <tbody style="vertical-align: middle;">
                            <tr *ngFor="let tweet of tweets index as i">
                                <td scope="row">{{ i + 1 }}</td>
                                <div class="tweet-border">
                                    <td class="tweet-text"> Donald Trump tweeted:
                                        <p [ngStyle]="{'background-color': tweet.text.includes(input) ? 'lightgreen' : 'red'}"> {{ tweet.text }} </p>
                                        <p [ngStyle]="{'background-color': tweet.likes > inputNumber ? 'lightgreen' : 'red'}"class="tweet-likes" style="float: left;">{{ tweet.likes | number}}</p>
                                        <p class="tweet-date" style="float: right;">{{ tweet.date | date}}</p>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </th>
                </tr>
            </thead>
    
    
        </table>
    </div>

</div>